################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backup.Core/bin/Debug/net8.0
/Backup.Core/obj
/Backup.Ultilities/bin/Debug/net8.0
/Backup.Ultilities/obj
/Backup.Window/bin/Debug/net8.0-windows
/Backup.Window/obj
/BackupCore/obj
